@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

/* 숨김 제목 및 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0,0,0,0);
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 1.5rem;
  color: #181818;
  background: #ccc;
}
/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}

/* 스킵 내비게이션 */
.skip-nav {
  display: none;
}

/* 레이아웃*/
.header,
.visual,
.main,
.slogan {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
header {
  background: white;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}
  /* 로고 */
  .logo{
    margin: 0;
    position: absolute;
    left: 65px;
    top: 55px;
  }
  /* 안내 링크 목록 */
  .member{
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: right;
  }
  .member li{
    display: inline-block;
    padding: 2px 0;
  }
  .member li a{
    display: inline-block;
    padding: 6px 0;
  }
  /* 네비게이션 */
  .navigation{
    padding-bottom: 36px;
  }
  .menu{
    background: linear-gradient(to bottom, #ef992f 1%,#ed7e2f 22%,#ef792f 76%,#ef992f 100%);
    margin: 10 0 0 0;
    padding-left: 225px;
    list-style: none;
    border-top: 2px solid currentColor;
    height: 47px;
    border-radius: 0 0 5px 5px;
  }
  .menu-item{
    position: relative;
    float: left;
  }
  .menu-button{
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
    border: none;
    background: transparent;
    padding: 0;
    line-height: 46px;
    padding: 0 19px;
    margin: 0;
    border-left: 2px solid rgba(255,255,255,.5);
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  }
  .menu-act .menu-button{
    color: #ff0;
  }
.menu-act .menu-button::after{
  content: "";
  display: block;
  border-top: 2px solid #000;
}
  .sub-menu{
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 47px;
  }
  .sub-menu li,
  .sub-menu a{
    display: inline-block;
    padding: 8px 0;
    margin-right: 10px;
  }
  .sub-menu a::before{
    content: "\f192";
    font-family: "fontello";
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 2px;
  }
  .sub-menu a:hover::before,
  .sub-menu a:focus::before {
    content: "\e800";
  }
  .menu-act .sub-menu{
    display: block;
  }
  .sub-menu1, .sub-menu2, .sub-menu3{
    left: 0;
  }
  .sub-menu4, .sub-menu5, .sub-menu6{
    right: 0;
  }

@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0,0,0,0);
    transform: translate(0, 0);
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* 비주얼 영역 */
.visual {
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: bgAni 2000ms infinite alternate ease-in-out;
}
.visual::before{
  background-image: url(./images/ani_flower_01.png) , url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}
.visual::after{
  background-image: url(./images/ani_flower_03.png) , url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1000ms;
}
.visual-text{
  width: 500px;
  margin: 0;
  animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
  background: #fff;
  overflow: hidden;
  min-height: 450px;
  padding: 30px 15px;
}
  .group {
    margin: 0 15px;
    float: left;
  }
  .group1 {
    width: 250px;
  }
  .group2 {
    width: 380px;
  }
  .group3 {
    width: 190px;
  }

  /* 로그인 */
  .login {
    background: radial-gradient(circle at right top, #ef992f 1%, #ed7e2f 22%);
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #ccc;
    padding: 15px 10px;
  }
  .login-heading {
    margin: 0 10px;
    color: #ff0;
    font-size: 1.6rem;
    font-weight: 700;
    text-indent: 10px;
  }
  .login-form {
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
  }
  .login-form fieldset {
    border: 0;
    border-bottom: 1px solid black;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    position: relative;
  }
  .user-email, .user-pw {
    margin-bottom: 5px;
  }
  .user-email *, .user-pw *{
    vertical-align: middle;
  }
  .login-form label {
    width: 4em;
    display: inline-block;
  }
  .login-form input {
    width: 90px;
    height: 22px;
    border: 1px solid #ccc;
    padding: 1px 1px 1px .5em;
  }
  .btn-login {
    width: 50px;
    height: 50px;
    padding: 0 5px;
    border: 0;
    border-radius: 3px;
    background: #ed702d;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .login-member {
    background-color: #fff;
    padding: 10px;
    margin: 0;
    list-style: none;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    letter-spacing: -1.5px;
  }
  .login-member a {
    display: block;
    padding: 0;
  }
  .login-member .icon-right-open {
    color: #ed702d;
  }
  .login-member li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  /* 유효성 검사 배너 */
  .validation-list {
    list-style: none;
    margin: 25px 0 0 0;
    padding-left: 0;
  }
  .validation-list a {
    border-radius: 20px;
    border: 1px solid #aaa;
    background: url(./images/validation_icon.png) no-repeat 25px 50% / 20px 20px, linear-gradient(to bottom, #eee, #ccc);
    padding: 8px 8px 10px 55px;
    margin-top: 10px;
    display: block;
  }
  .validation-list a:hover, .validation-list a:focus {
    color: red;
  }

  /* 웹 관련 용어 */
  .term {
    border: 1px solid #aaa;
    background: linear-gradient(to bottom, #eee, #ccc);
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
  }
  .term-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .term-list {
    margin: 15px 0 0 0;
  }
  .term-list-subject {
    display: inline-block;
    color: #296897;
  }
  .term-list-thumnail {
    float: left;
    margin: 0 10px;
  }
  .term-list-brief {
    margin-top: 5px;
    line-height: 1.5;
  }
  .term-list p {
    margin: 0;
  }
  .term-list dd {
    margin: 0;
  }
  .term-list div:nth-child(even) {
    margin-top: 50px;
  }
  .term-list div:nth-child(even) .term-list-thumnail {
    float: right;
  }
  
  /* 검색폼 */
  .search-form {
    background: #ccc linear-gradient(#ccc, #eee);
    border: 1px solid #aaa;
    border-bottom-color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 15px 25px 10px;
  }
  .search-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  .search-form-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .search-form [name="search"] {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 1px 1px .5em;
    height: 22px;
    width: 190px;
  }
  .btn-search {
    background-color: #333;
    border: 1px solid #aaa;
    color: #fff;
    border-radius: 3px;
    height: 22px;
    padding: 0 10px;
  }
  /* 공지사항 및 자료실 */
  .board {
    position: relative;
    margin-top: 20px;
  }
  .notice-list,
  .pds-list,
  .notice-more,
  .pds-more {
    display: none;
  }
  .is-active .notice-list,
  .is-active .pds-list,
  .is-active .notice-more,
  .is-active .pds-more {
    display: block;
  }
  /* .is-active 로 구분해서 논과 블럭만 설정하고 css */
  .tab {
    /* float: left; */
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .is-active .tab {
    z-index: 5;
  }
  .notice-heading {
    left: 0;
  }
  .pds-heading {
    left: 83px;
  }
  .tab a {
    display: block;
    border-radius: 5px 5px 0 0;
    border: 1px solid #aaa;
    background: #ccc linear-gradient(#ccc, #eee);
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px 15px;
  }
  .is-active .tab a {
    color: #ed702d;
    border-color: #ed702d #ed702d #fff #ed702d;
    background: #fff;
  }
  .notice-list,
  .pds-list {
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin: 0;
    /* background: skyblue; */
    padding-top: 45px;
    min-height: 170px;
    /* position: absolute;
    left: 0;
    top: 45px; */
  }
  .notice-list li,
  .pds-list li {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
  }
  .notice-list a,
  .pds-list a {
    /* flex-grow: 1; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 280px;
  }
  .notice-more,
  .pds-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
  }
  .notice-more::before,
  .pds-more::before {
    color: hsla(110, 50%, 30%, 1);
  }
  /* .news */
  /* position, inline-block, float, flex, 다 가능. gird로 실습. 나머지 다 해볼 것 (나는 플롯으로 함)*/
  .news {
    margin-top: 20px;
    position: relative;
  }  
  .news::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #ccc linear-gradient(to right, #ccc, #fff);
  }
  .news-heading {
    font-size: 1.6rem;
    font-weight: 700;
    color: #ed702d;
    margin: 0;
  }
  .news-article {
    margin-top: 35px;
  }
  .news-article-link {
    display: grid;
    /* a태그라 원래 block 줘야 하는데 그리드 됐으니까 안줌 */
    /* grid-template-columns: 130px 1fr;
    grid-template-rows: auto; */
    grid-template-areas:
    "thumbnail subject"
    "thumbnail date"
    "thumbnail brief";
  }
  .news-article-subject {
    margin: 0 0 5px;
    grid-area: subject;
    font-size: 1.5rem;
  }
  .news-article-date {
    grid-area: date;
  }
  .news-article-brief {
    margin: 10px 0;
    grid-area: brief;
    line-height: 1.5;
  }
  figure {
    margin: 0;
    margin-right: 10px;
    grid-area: thumbnail;
    text-align: center;
  }
  figure img {
    box-shadow: 0 15px 10px 0 #aaa;
  }
  figure figcaption {
    margin-top: 15px;
  }
  /* .news-article-thumbnail {
    background-color: tomato;
    margin: 0;
    grid-area: thumbnail;
  } */
  .news-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
  }
  .news-more::before {
    color: hsla(110, 50%, 30%, 1);
  }
  /* 신규 이벤트 및 관련 사이트 */
  .gradient-box {
    background: silver linear-gradient(#ccc, #eee);
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
  }
  .point-color {
    color: #ed702d;
  }
  .event {
    position: relative;
  }
  .event-heading, .related-heading {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .event-thumbnail img {
    border: 1px solid #aaa;
    box-shadow: 5px 5px 0 0 #aaa;
  }
  .event-brief {
    line-height: 1.5;
    font-size: 1.4rem;
  }
  .event-brief em {
    font-style: normal;
  }
  .btn-event {
    position: absolute;
    top: 0;
    right: 0px;
  }
  .btn-event button {
    width: 19px;
    height: 18px;
    overflow: hidden;
    /* text-indent: -9999px; */
    border: none;
    padding: 18px 0 0 0;
  }
  .btn-prev {
    background: transparent url(./images/back_forward.png) no-repeat;
  }
  .btn-next {
    background: transparent url(./images/back_forward.png) 100% 0 no-repeat;
  }


.slogan {
  background: orange;
  height: 250px;
}

.footer {
  background: pink;
  height: 240px;
  width: 100%;
}